body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(245, 247, 147);
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: right;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10x
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: none;
  }
  
  .search-engine {
    display: flex;
    align-items: center;
  }
  
  .search-engine label {
    color: #fff;
    margin-right: 5px;
  }
  
  .search-engine input {
    padding: 5px;
  }
  
  .search-engine button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    .logo img {
      margin-bottom: 10px;
    }
  
    nav {
      margin-top: 10px;
    }
  
    .search-engine {
      margin-top: 10px;
    }
  }
  
  
  main {
    padding: 5px;
  }
  
  main h1 {
    margin-bottom: 10px;
  }
  
  
  .house-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .house-types a {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .house-types a:hover {
    transform: scale(1.05);
  }
  
  .house-types img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
    padding :5px;
  }
  
  .house-types p {
    margin: 5px 0;
    text-align: center;
  }
  /* styles.css */

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
   